/* Decent Defaults */

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
  padding: 0 2.5rem;
}

img,
video {
  width: 50px;
  height: auto;
  margin-left: auto;
  margin-bottom: auto;
  /* justify-content: flex-end; */
}

header {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

h1 {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  color: hsl(234, 12%, 34%);
}

p.head {
  font-weight: 200;
  font-size: 0.9rem;
  color: hsl(229, 6%, 66%);
}

p {
  font-weight: 200;
  font-size: 0.75rem;
  color: hsl(229, 6%, 66%);
}

.flex {
  display: flex;
}

.card {
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: white;
}

h3 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

.Supervisor::before {
  display: block;
  content: "";
  background: hsl(180, 62%, 55%);
  height: 0.25rem;
}

.Team-Builder::before {
  display: block;
  content: "";
  background: hsl(0, 78%, 62%);
  height: 0.25rem;
}

.Karma::before {
  display: block;
  content: "";
  background: hsl(34, 97%, 64%);
  height: 0.25rem;
}

.Calculator::before {
  display: block;
  content: "";
  background: hsl(212, 86%, 64%);
  height: 0.25rem;
}

.content {
  padding: 1.5rem;
}

section > p {
  padding-bottom: 2.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.middle-cards {
  display: grid;
  gap: 1rem;
}

/* Mobile Only */
@media (max-width: 47.9375em) {
  .flex {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Desktop Only */
@media (min-width: 48em) {
  .flex {
    gap: 1rem;
  }

  .flex > * {
    width: 100%;
  }

  .vertically-centered {
    display: flex;
    align-items: center;
  }
}
